.Header{
    background-color: #262937;
    height:10vh;
    min-height: 6vw;
    width: 100vw;
    position: fixed;
    opacity: .99;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    position: relative;
}
.HeaderItems div{
    list-style:none;
    cursor:pointer;
}


.AlgorithmItems, .NodeItems{
    display: none;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;

}
.HeaderItems{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.HeaderAlgorithms,.HeaderAlgo,.HeaderIcon,.HeaderHelp,.HeaderNodes{
    display: flex;
    margin:4vh 5vw;
    color: white;
    justify-content: center;
    float: left;
    overflow: hidden;
    border-bottom: 1px solid #FF6600;
}
 
.AlgorithmItemsshow,
.NodeItemsshow{
    margin-top: 5.5vh;
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    background-color: #262937;
    align-items: center;
    width: 130vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding: 0;

}
.HeaderAlgo{
    border-bottom: 1px solid #FF6600;

}
.Header .AlgorithmItemsshow li,
.Header .HeaderNodes li{
padding: .5vh 2vw;
float: left;
border-bottom:1px solid #FF6600;
margin-bottom: 1vh;
cursor:pointer;
}

.HeaderAlgorithms .algohide{
    display: none;
}
.HeaderNodes .nodehide{
    display: none;
}
.HeaderAlgorithms .algoshow{
    display: flex;
}
.HeaderNodes .nodeshow{
    display: flex;
}
.MobileNavigation .Icon{
    position: absolute;
    right: 5%;
    cursor: pointer;
}
.Header .MobileNavigation{
    display: none;
}
@media (max-width: 500px) {

    .Header .MobileNavigation{
        display: flex;
        align-items: center;
    }
    .Header .Navigation{
        display: none;
    }
    .Header .HeaderItems{
        display: flex;
        flex-direction: column;
        position: absolute;
        top:10vh;
        right:0;
        width: 100%;

        background-color: #262937;
        border-top: 2px solid #FF6600;
    }

    .Header {
        opacity: 1;
    }
    .HeaderAlgo{
        display:none;
    }
    .MobileTitle {
        color:white;
        border-bottom: 1px solid #FF6600;
    }
}

