.grid{

margin-top: 5vh;
display: inline-block;
align-self: center;

}
.row{
  height: 1.75vh;
  align-self: center;

}
.startButton{
    display: block;
    top: 15vh;
    border-radius: 12px;
    font-size:2rem;
    width: 3vw;
    height: 4vw;
    min-height: 40px;
    min-width: 25px;
    max-height: 50px;
    margin-top: 3vh;

}
@media (max-width: 1500px) {
    .grid{

    }
    
}
.body{
    display:flex;
    flex-direction: column;
}
