.Header{
    background-color: #181818;
    height:10vh;
    min-height: 6vw;
    width: 100vw;
    position: fixed;
    opacity: .99;
    z-index: 1;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    float: left;

}
div{
    list-style:none;
}


.AlgorithmItems, .NodeItems{
    display: none;
    position:absolute;
    background-color: whitesmoke;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;

}
.HeaderItems{
    list-style: none;
    margin: 0;
    padding: 0;
}
.HeaderAlgorithms,.HeaderAlgo,.HeaderIcon,.HeaderHelp,.HeaderNodes{
    display: flex;
    padding:4vh 5vw;
    color: white;
    justify-content: center;
    float: left;
    overflow: hidden;
}
.HeaderAlgorithms:hover,.HeaderHelp:hover,
.HeaderNodes:hover,.HeaderAlgorithms:hover {
    background-color: cyan;
    
}
.AlgorithmItemsshow,
.NodeItemsshow{
    margin-top: 6vh;
    display: flex;
    flex-direction: column;
    color: #181818;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style: none;
    padding:0;

}
.HeaderAlgo{
    border-bottom: 1px solid cyan;
    padding: 0;
    margin: 4vh 5vw;
    margin-bottom: -1px;
}
.Header .AlgorithmItemsshow li,
.Header .HeaderNodes li{
padding: 1vh 2vw;
border: 1px solid cyan;
}
.Header .AlgorithmItemsshow li:hover,
.Header .HeaderNodes li:hover{
 background-color: cyan;
}
.HeaderAlgorithms .algohide{
    display: none;
}
.HeaderNodes .nodehide{
    display: none;
}
.HeaderAlgorithms .algoshow{

}
.HeaderNodes .nodeshow{
 
}
.HeaderIcon{
    display: none;
}
@media (max-width: 1000px) {
    .HeaderIcon {
        display: flex;
        
    }
    .HeaderItems{
        display: flex;
        flex-direction: column;
    }
}

